@import url(global.css);

section.conteiner{
    width: 90%;
    margin: 50px auto 0;
    
}

section.conteiner span.titulo{

    font-size: 0.8rem;
    color: var( --azul-destaque);
    font-weight: 500;

}

/* Seção Sobre */
section.sobre{

    padding: 50px;

    background-color: var(--fundo-secundario);
    color: var(--texto-principal);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--sombra-card);

    margin-bottom: 50px;
}

section.sobre h1{
    
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 30px;

    margin: 10px 0;

}

section.sobre p{
    font-family: var(--texto);
    font-size: 0.9rem;

    color: var(--texto-suave);

    margin-bottom: 20px;
}

section.sobre div.qualidade{

    width: 100%;

    margin: 10px 0 20px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

section.sobre div.qualidade span.material-symbols-outlined{

    background-color: var(--azul-profundo);

    font-size: 2.2rem;
    color: var(--azul-destaque);
    font-weight: 400;

    border-radius: 10px;

    padding: 10px;
}

section.sobre div.qualidade div.column{
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.sobre div.qualidade h2{

    font-size: 1.1rem;
    font-weight: 500;

}

/* Contato */
section.contato{

    background-color: var(--fundo-claro);
    box-shadow: 0px 0px 5px var(--sombra-card);
    border-radius: 10px;

    margin-bottom: 100px;
    padding: 50px;
}

section.contato h1{
    font-weight: 600;
    
}

section.contato p{ 
    font-size: 0.9rem;
    font-weight: 300;

    width: 70%;

    margin-bottom: 40px;
}

section.contato form{

    display: flex;
    flex-direction: column;
}

section.contato form label{
    
    font-size: 0.9rem;
}

section.contato form input{
    padding: 10px;
    margin-bottom: 20px;

    border: 1px  solid var(--brilho-azul);
    border-radius: 5px;
}

section.contato form input:focus,
section.contato form textarea:focus
{
    outline: none;
    border: 2px solid var(--azul-destaque);
}

section.contato form input.input-cep{
    margin: 0 0 10px;
}

section.contato form div.cep{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

section.contato form button.btn-cep{
    margin: 0;
    padding: 10px;

    color: var(--texto-principal);
    font-size: 0.9rem;
}

section.contato form textarea{
    height: 100px;

    margin-bottom: 20px;
    padding: 10px;

    border: 1px  solid var(--brilho-azul);
    border-radius: 5px;
}

section.contato form button.btn-enviar{

    border-radius: 5px;
    padding: 10px;

    color: var(--texto-principal);
    font-size: 0.9rem;
    font-weight: 500;
}


@media( min-width: 1024px ){

    section.conteiner{
        
        width: var(--largura-secoes);

        display: grid;
        grid-template-columns: 2.5fr 3fr;
        align-items: stretch;

        margin: 0 auto 50px;
        
    }

    /* Seção Sobre */
    section.sobre{

        border-radius: 10px 0 0 10px ;

        margin-bottom: 0;

    }

    section.sobre h1{
        
        max-width: 350px;
        font-size: 1.8rem;

    }

    section.sobre p{

        font-size: 1rem;
        margin-bottom: 90px;

    }

    section.sobre div.qualidade{

        width: 70%;

        align-items: start;

    }

    section.sobre div.qualidade span.material-symbols-outlined{

        padding: 15px;
        
    }

    /* Contato */
    section.contato{

        margin-bottom: 0;

        border-radius: 0px 10px 10px 0px;

    }

    section.contato h1{
        
        font-size: 2rem;

        margin-bottom: 0;
  
    }

    section.contato p{ 

        font-size: 1rem;
        margin-bottom: 10px;

        line-height: 20px;

    }

    section.contato form label{
        
        font-size: 1rem;
    }

    section.contato form input{
        margin-bottom: 10px;
    }

    section.contato form div.row{

        width: 100%;

        display: flex;
        gap: 10px;
    
    }
    
    section.contato form div.row div.column{

        width: 100%;
        display: flex;
        flex-direction: column;

    }

    section.contato form input.input-cep{
        width: 50%;

    }

    section.contato form div.cep{

        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 10px;

        margin-bottom: 0;

    }

    section.contato form button.btn-cep{

        width: 50%;
        padding: 8px;

        font-size: 1rem;
    }

    section.contato form button.btn-cep,
    section.contato form button.btn-enviar{

        transition: .3s;
    }

    section.contato form button.btn-cep:hover,
    section.contato form button.btn-enviar:hover{

        background-color: var(--azul-claro);
        transform: scale(1.03);
    }

    section.contato form textarea{
        
        margin-bottom: 20px;

    }

    section.contato form button.btn-enviar{

        font-size: 1rem;
    }
}

